body {
    font-family: Arial, sans-serif;
}

.container {
    width: 50%;
    margin: 0 auto;
}

.form-container {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

.btn-primary {
    width: 100%;
    padding: 10px;
    background-color: #0275d8;
    color: white;
    border: none;
    border-radius: 5px;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.tooltip-inner {
    max-width: 300px; /* Adjust width as needed */
    white-space: pre-wrap;
}

.tooltip {
    font-size: 12px;
}

.table-responsive {
    max-height: 200px; /* Adjust height as needed */
    overflow-y: auto;
}
