<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>{% block title %}Product List{% endblock %}</title>
</head>
<body style="background-color:#fefefe;">
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/home">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto"> <!-- Added ml-auto to align the items to the right -->
            {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="/products">Products</a>
                <a class="nav-item nav-link" href="/record_sale">Sales</a>
                <a class="nav-item nav-link" href="/record_purchase">Purchases</a>
                <a class="nav-item nav-link" href="/product_list">Product List</a>
                <a class="nav-item nav-link" href="{{ url_for('views.product_history')}}">Cash Flow</a>
                <a class="nav-item nav-link" href="/logout">Logout</a>
            {% else %}
                <a class="nav-item nav-link" href="/signup">Sign Up</a>
                <a class="nav-item nav-link" href="/login">Login</a>
            {% endif %}
        </div>
    </div>
</nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div id="flash-messages">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert" data-message-id="{{ loop.index }}">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" data-message-id="{{ loop.index }}">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}


    {% block content %}
    <div class="container-fluid"> </div>
    {% endblock %}
 
    <script src="{{ url_for('static', filename='delete.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>