{% extends "base.html" %}

{% block title %}Record a Purchase{% endblock %}

{% block content %}
<div class="mx-auto" style="width:600px; border-radius:10px ; background-color: rgba(3, 63, 100, 0.623);">
    <h2 align="center" style="color: aliceblue; margin: 20px; padding: 10px;">Record a Purchase</h2>
</div>
<div class="mx-auto" style="width:600px; border-radius:10px; background-color: rgba(3, 63, 100, 0.623); padding: 20px;">
    
    <form method="POST" action="{{ url_for('views.record_purchase') }}">
        {{ form.hidden_tag() }}

        <div class="form-group" style="padding-bottom: 15px;">
            {{ form.product_id.label(class="form-label", style="color: aliceblue;") }}
            {{ form.product_id(class="form-control") }}
        </div>
        <div class="form-group" style="padding-bottom: 15px;">
            {{ form.quantity.label(class="form-label", style="color: aliceblue;") }}
            {{ form.quantity(class="form-control") }}
        </div>

        <div class="form-group text-center" style="padding-top: 20px;">
            <button type="submit" class="btn btn-primary" style="color: aliceblue; background-color:rgba(3, 63, 100, 0.623); padding: 10px 20px;">Record Purchase</button>
        </div>
    </form>
</div>
{% endblock %}
